In [1]:
## Connect to google colab

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
## Import data reading libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
## Load data

amazon_data = pd.read_csv("/content/drive/MyDrive/Amazon/Reviews.csv")

In [11]:
## Data information

amazon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568438 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [12]:
## Show first 5 data

amazon_data.head(5)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [13]:
## Data collection function for each classes

def data_collection_according_to_class(data_set,class_name,count_val=100):
  corpus_x,corpus_y = [],[]
  text = data_set.Text
  score = data_set.Score
  count = 0
  for i in range(len(score)):
    if(count == count_val):
      break
    if(len(text[i])!=0):
      if(score[i]==class_name):
        corpus_x.append(text[i])
        corpus_y.append(score[i])
        count = count + 1
  return np.array(corpus_x),np.array(corpus_y)

In [14]:
## Collected data for each classes
## For each classes , we are collecting 20,000 data

count = 20000

text_1_class,score_1_class = data_collection_according_to_class(amazon_data,1,count)
text_2_class,score_2_class = data_collection_according_to_class(amazon_data,2,count)
text_3_class,score_3_class = data_collection_according_to_class(amazon_data,3,count)
text_4_class,score_4_class = data_collection_according_to_class(amazon_data,4,count)
text_5_class,score_5_class = data_collection_according_to_class(amazon_data,5,count)

In [15]:
## Putting all data in a corpus

text = np.concatenate([text_1_class,text_2_class,text_3_class,text_4_class,text_5_class])
score = np.concatenate([score_1_class,score_2_class,score_3_class,score_4_class,score_5_class])
print(text.shape,score.shape)

(100000,) (100000,)

In [16]:
## Make data frame for text and score features

temp = pd.DataFrame({"Text" : text, "Score" : score})
temp.head(5)

                                                Text  Score
0  Product arrived labeled as Jumbo Salted Peanut...      1
1  My cats have been happily eating Felidae Plati...      1
2  The candy is just red , No flavor . Just  plan...      1
3  This oatmeal is not good. Its mushy, soft, I d...      1
4  Arrived in 6 days and were so stale i could no...      1

In [17]:
## Save the data as csv file

temp.to_csv("/content/drive/MyDrive/Amazon/Amazon_100000_data/Amazon_data.csv", index = False)

In [18]:
## Show the saved data

data = pd.read_csv("/content/drive/MyDrive/Amazon/Amazon_100000_data/Amazon_data.csv")
data.head(5)

                                                Text  Score
0  Product arrived labeled as Jumbo Salted Peanut...      1
1  My cats have been happily eating Felidae Plati...      1
2  The candy is just red , No flavor . Just  plan...      1
3  This oatmeal is not good. Its mushy, soft, I d...      1
4  Arrived in 6 days and were so stale i could no...      1